
/*Mixins*/
@mixin for-size($size) {
    @if $size == phone {
      @media (max-width: 640px) { @content; }
    } @else if $size == tablet {
      @media (max-width: 840px) { @content; }
    } @else if $size == desktop{
      @media (min-width: 901px) { @content; }
    } @else if $size == big-desktop-up {
      @media (min-width: 1800px) { @content; }
    }
}
/* Global Items */

@import url("https://fonts.googleapis.com/css?family=Lato:400");
* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "liga" on;
}
body {
    font-family: Lato,sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8;
    color: #868e96;
    background-color: #fff;
}


/* Input Form */
.inputForm{
    input, select{
        background: #f2f2f2;
        transition: .3s all ease;
        border: 1px solid #f2f2f2;
        border-radius: 0.25rem;
        display: block;
        width: 100%;
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
        line-height: 1.25;
        height: 50px;
        color: #495057;
        margin-top: 1rem;
        outline: none;
        &:focus{
            border-color: #1d82ff ;
            background: #ffffff;
        }
    }
}

/* Defing the gap in mobile devices */
.container{
    width: 840px;
    margin: 0 auto;
    @include for-size(tablet) {    
        width: 100%;
        padding: 0 80px;
     }
     @include for-size(big-phone) {    
        width: 100%;
        padding: 0 50px;
     }
    @include for-size(phone) {    
        width: 100%;
        padding: 0 20px;
     }
}

/*define grid */
.gridBlock{
    @include for-size(phone) {    
        display: block;
    }
    width: 100%;
    display: flex;
    overflow: hidden;
    /* Layouts : We define 4 layouts */
    .oneByOne{
        width: 100%;
    }
    .oneByTwo{
        @include for-size(phone) {    
            width: 100%;
            margin-right:0;
            margin-bottom:50px;
         }
        width: 50%;
    }
    .oneByThree{
        @include for-size(phone) {    
            width: 100%;
            margin-right:0;
            margin-bottom:50px;
         }
        width: 33.33%;
    }
    .oneByFour{
        @include for-size(phone) {    
            width: 100%;
            margin-right:0;
            margin-bottom:50px;
         }
        width: 25%;
    }
    .twoByThree{
        width: 66.66%;
        @include for-size(phone) {    
            width: 100%;
            margin-right:0;
            margin-bottom:50px;
         }
    }
    .oneByTwo,
    .oneByThree,
    .oneByFour,
    .twoByThree {
        margin-right: 30px;
        &:last-child{
            margin-right: 0px;
        }
    }
    img {
        width: 100%;
    }
}

/* Item List */
ul{
    &.inlineList{
        width: 100%;
        display: inline-block;
        li{
            display: inline-block;
            margin-right: 10px;
        }
    }
    &.oneColumn{
        width: 100%;
        li {
            margin-bottom: 45px;
        }
    }
    &.twoColumn{
        width: 100%;
        li {
            margin-bottom: 45px;        
        }
        margin-right: 45px;
    }
}

// nav bar
.navBar{
    z-index: 100;
    width: 100%;
    padding: 10px;
    &.scrolled{
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        margin-top: -130px;
        background: #fff;
        transition: .3s all ease-out;
        -webkit-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
        color: #111;
        a { color: #111;}
    }
    &.opened{
        margin-top: 0px;
    }
    .oneByTwo{
        @include for-size(phone) {    
            margin:0 auto;
        }
    }
    ul {
        @include for-size(phone) {    
            text-align: center;
        }
    }
}

/* Style on Text*/
p, h1, h2, h3, h4, h5{
    display: block;
    width: 100%;
    margin-top: 1em;
    &.heroText{
        font-size: 2.97rem;
        line-height: 1.2;
        color: #212529;
        width: 800px;
        @include for-size(tablet) {    
            width: 100%;
        }
    }
    &.sectionHeading{
        font-size: 2.6rem;
        margin-bottom: 0.5rem;
        line-height: 1.1;
        font-weight: 300;
        font-size: 1.75rem;
        color: #212529;
    }
    &.sectionSubHeading{
        color: rgba(0, 0, 0, 0.3) ;
        text-transform: uppercase;
    }
    &.itemHeading{
        margin-bottom: 0.5rem;
        line-height: 1.1;
        font-weight: 300;
        font-size: 1.25rem;
        color: #212529;
    }
    &.paragraph{
        font-size: 15px;
        font-weight: 300;
        color: #868e96;
    }
    &.price {
        span {
            font-size: 18px;
            color: #adb5bd;
            text-transform: uppercase;
            &.value{
                font-size: 50px;
                color: #1d82ff;
                }
            &.dolor {
                font-size: 20px;
                vertical-align: top;
                color: #1d82ff;
            
                }
        }
    }
    span {
        &.new{

        }
    }
}
/* SEO tags
<h1></h1> – usually reserved for webpage titles.
<h2></h2> – highlights the topic of the title.
<h3></h3> – reflects points in regards to the topic.
<h4></h4> – supports points from <h3>.
<h5></h5> – not often used, but great for supporting points of <h4>.
*/

/* Define Box */
.gridBox {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
     box-shadow: 0 10px 6px -6px #777;
     background: white;
}
.box{
    border: 1px solid #e9ecef !important;
    padding: 3rem !important;
    &.active{
        border-color: #1d82ff !important;
    }
}

/* Define Button */
.btn {
    display: inline-block;
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    &.primary{
        color: #fff;
        background-color: #1d82ff;
        border-color: #1d82ff;
        &.shadow{
            -webkit-box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
            -moz-box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
            box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
        }
    }
}


/* Componenets*/
a, a:hover {
    color: #AAAAAA;
    text-decoration: none;
}

/* Define Gaps */
.regularGap{
    margin-top:50px;
}
.largeGap{
    margin-top:75px;
}
.xlargeGap{
    margin-top:100px;
}
.xxlargeGap{
    margin-top:150px;
}

/* Define Text Align */
.textCenter{
    text-align: center;
}
.textLeft{
    text-align: left;
} 
.textRight{
    text-align: right;
}
.alignMiddle{
    vertical-align:middle;
}
/* Custom Margin and padding */
.noMargin{
    margin: 0 !important;
}
.noPadding{
    padding: 0 !important;
}

/* Defining overlapping layer */
.relativePosition{
    position: relative;
}
.absolutePosition{
    position: absolute;
}

/*  we define color scheme */
.colorScheme{
    color: #111111;
    a, a:hover {
        color: #AAAAAA;
    }
    p{
        &.sectionSubHeading {
            color: rgba(0, 0, 0, 0.3);
        }
    }
    .invertColor{
        color: #ffffff;
        a, a:hover {
            color: #ffffff;
        }
        p, h1, h2, h3, h4, h5 { 
            color: #ffffff;
        }
    }
    .success{
        color: green;
    }
    .error{
        color: red;
    }
}
