{% extends "layout.njk" %}
{% block home %}
{% endblock %}

{% block content %}
<!-- Features-->
<a name="feature"></a>
<div class="container">
    <div class="gridBlock textCenter gap_xxl">
        <div class="oneByOne">
                <p class="sectionHeading noMargin">404</p>
                <p class="paragraph noMargin">Page Not Found</p>
        </div>
    </div>
</div>
{% endblock %}
