{% extends "layout.njk" %}
{% block home %}
{% endblock %}

{% block content %}
<!-- Features-->
<a name="feature"></a>
<div class="container">
    <div class="gridBlock textCenter xxlargeGap">
        <div class="oneByOne">
                <p class="sectionHeading noMargin">Sorry, your subscription got failed!.</p>
                <p class="paragraph noMargin">Please try again.</p>
        </div>
    </div>
</div>
{% endblock %}
