{% extends "layout.njk" %}
{% block home %}
<div class="gridBlock textCenter xxlargeGap">
    <div class="oneByOne">
        <p class="sectionSubHeading noMargin">STARTING FROM JULY </p>
        <p class="heroText noMargin">NINJA CAMP INDIA</p>
        <p class="largeGap"><span class="btn primary">Register Now</span>  <span class="btn regularHGap secondary">Ask question</span></p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="gridBlock textCenter xxlargeGap">
        <div class="oneByOne">
            <p class="sectionSubHeading noMargin">Course Schedule</p>
            <p class="sectionHeading noMargin">15 Weeks Course Schedule</p>
        </div>
    </div>
    <div class="gridBlock textCenter xlargeGap">
        <div class="oneByOne">
            <table>
                <tr>
                    <td>Week No.</td>
                    <td>Focus Areas.</td>
                    <td>ProgramDeatils </td>
                </tr>
                <tr>
                    <td>Week #1</td>
                    <td>Quick Start: Computer scinece recap.</td>
                    <td>We will quickly start the training. We will revisit the basic concept of computer science like Data-Structure, Algorithms, Sorting-Searching and complexity analysis. We will also talk about standard language support for the implementation of these algorithms.</td>
                </tr>
                <tr>
                    <td>Week #2</td>
                    <td>Handling Array Problem</td>
                    <td>Arrays are the fundamental of computer science. You definitely expect an array problem in the technical interview ( in fact in Google and Facebook interview). However, the array problem can be super complex. I will teach you the tricks to handle problem-related to the array.</td>
                </tr>
                <tr>
                    <td>Week #3</td>
                    <td>Problem Solving with Strings</td>
                    <td>Strings problems generally solved by reading the character one by one. But "finding the smallest substring in a string without duplicate" might need some extra thoughts to derive the solutions. We will discuss some mind-blowing problem related to string in this session.</td>
                </tr>
                <tr>
                    <td>Week #4</td>
                    <td>Problem Solving using Matrix With Recurssion</td>
                    <td>ProgramDeatils </td>
                </tr>
                <tr>
                    <td>Week #5</td>
                    <td>Problem Solving using LinkedList with Dynamic Memory Allocation</td>
                    <td>ProgramDeatils </td>
                </tr>
                <tr>
                    <td>Week #6</td>
                    <td>Problem Solving using Stack</td>
                    <td>ProgramDeatils </td>
                </tr>
                <tr>
                    <td>Week #7</td>
                    <td>Problem Solving using Queue</td>
                    <td>ProgramDeatils </td>
                </tr>
                <tr>
                    <td>Week #8</td>
                    <td>Problem Solving using Priotity Queue and Heap</td>
                    <td>ProgramDeatils </td>
                </tr>
                <tr>
                    <td>Week #9</td>
                    <td>Problem Solving using Trees and Graphs</td>
                    <td>ProgramDeatils </td>
                </tr>
                <tr>
                    <td>Week #10</td>
                    <td>Identify Binary Search Problem</td>
                    <td>There are so many problems which can be solved using Binary search - but just seeing the problem, you are not able to realize that. How to get an indication that a binary search might be useful.</td>
                </tr>
                <tr>
                    <td>Week #11</td>
                    <td>Handing Sorting Problems</td>
                    <td>People know about bubble sort and selecting sort, However, QuickSort or Merge sort is super useful while solving other sorting problem. We will explore the possibility to use "merge technical" or "selecting techniques" while solving other problems.</td>
                </tr>
                <tr>
                    <td>Week #12.</td>
                    <td>Problem solving with Divide and Conquer.</td>
                    <td>ProgramDeatils </td>
                </tr>
                <tr>
                    <td>Week #13</td>
                    <td>Problem solving with Greedy Approach.</td>
                    <td>ProgramDeatils </td>
                </tr>
                <tr>
                    <td>Week #14</td>
                    <td>Problem solving with Dynamic programming</td>
                    <td>ProgramDeatils </td>
                </tr>
                <tr>
                    <td>Week #15</td>
                    <td> Test Interview and feedback (3 hours)</td>
                    <td>ProgramDeatils </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- FAQ-->
<div class="container">
    <a name="faq"></a>
    <div class="gridBlock textCenter xxlargeGap">
        <div class="oneByOne">
                <p class="sectionSubHeading noMargin">FAQs</p>
                <p class="sectionHeading noMargin">Do you have any question?</p>
        </div>
    </div>
    <div class="gridBlock xlargeGap">
        <ul class="oneColumn">
            <li>
                <p class="itemHeading ">What is the price for this course?</p>
                <p class="paragraph ">This is a NOT a free service. The frees for this course is 25,000 INR. You need to pay 5,000 INR on registration and you need to pay rest 20,000 INR before the first class. This cost was determine based on the value you will get it from.</p>
            </li>
            <li>
                <p class="itemHeading ">Why this course is only for indian students/engineers?</p>
                <p class="paragraph ">We see there is high demand of this course from india. But most of them can't effort original rate (e.g 110 dolors/hrs ~ 10,000 INR/ours) rate for this. We are trying this out by setting the minimum amount so that people can effort. </p>
            </li>
            <li>
                <p class="itemHeading ">I am working at service based org like TCS, WIPRO. Can I attend this training?</p>
                <p class="paragraph ">Yes, this course has also designed for the people who is working at IT. Talented engineers are not happy with service based org and want to move to product based org, but they don;t know where to start - We are here to help them out. </p>
            </li>
            <li>
                <p class="itemHeading ">I am already working or product based org and decent CS knowledge ?</p>
                <p class="paragraph"> That would be great! We have multiple batches for this program. Based on your competence and need, we will put you in right batch.</p>
            </li>
            <li>
                <p class="itemHeading ">What is the size of each batch ?</p>
                <p class="paragraph ">We have at most 10 people in a batch. we run multiple batches based on the competence and need, please talk to the contact person of any help.</p>
            </li>
            <li>
                <p class="itemHeading ">What will it change after completing this course?</p>
                <p class="paragraph "> These sessions are targeted for people who want to master the problem-solving skill. The sessions are expected to be mostly technical and heavy on coding skill. This leaves you with a sense of having learned something useful in your daily life as a software engineer. </p>
            </li>
            <li>
                <p class="itemHeading ">What are the goals of these programs?</p>
                <p class="paragraph ">The main aim to shift your mind and put it into software engineer interview mode and make you confident of cracking difficult software engineering interviews. </p>
            </li>
            <li>
                <p class="itemHeading ">What the programs are NOT?</p>
                <p class="paragraph ">This course is not a substitute for an “algorithms class” or  “data structure class”. They are not a list of "interview questions” which is to be solved.</p>
            </li>
            <li>
                <p class="itemHeading ">What language does the course use?</p>
                <p class="paragraph ">The problem-solving technique is language agnostic, so you can use any language you want code then .In general, we provide solutions in Pseudocode and C++/Java.</p>
            </li>
            <li>
                <p class="itemHeading ">What are the prerequisites?</p>
                <p class="paragraph ">Nothing, You should be eager to learn. The fundamental knowledge of data structure and basic coding skill can help you. If you are not from CS background, please let us know. </p>
            </li>
            <li>
                <p class="itemHeading ">How is the each session structured?</p>
                <p class="paragraph ">Please see the above table for details.</p>
            </li>
            <li>
                <p class="itemHeading ">Can I get refund if I are not happy?</p>
                <p class="paragraph">Unfortunately, we don't refund for this course. We will try our best to make these sessions perfect and useful to you. If you are still unhappy, you might request for attending an extra session. </p>
            </li>
            <li>
                <p class="itemHeading ">I still have some other question. Can you help?</p>
                <p class="paragraph">Please have a look to our main <a>FAQ</a> You can always send feedback or ask question in our <a>facebook group.</a></p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
