{% extends "layout.njk" %}
{% block home %}
    <meta name="og:title" property="og:title" content="A Systematic Approach To Crack Software Interview In 12 Weeks">
    <a name="home"></a>
    <div class="gridBlock textCenter regularGap invertColor">
        <div class="oneByOne">
                <p class="sectionSubHeading">LAND A JOB AT GOOGLE, FACEBOOK, AMAZON, MICROSOFT, AND APPLE </p>
                <h1 class="heroText">A Systematic Approach To Crack Software Interview In 12 Weeks.</h1>
        </div>
    </div>
    <div class="hero gridBlock xxlargeGap textCenter invertColor">
        <div class="oneByThree">
            <img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/scrum_board_cesn.svg">
            <p class="itemHeading textCenter ">1:1 Guidance</p>
            <p class="paragraph ">People come from different background and skillsets. 1:1 coaching provides personalized training focusing improvement your of skillset. .</p>
        </div>
        <div class="oneByThree">
            <img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/setup_wizard_r6mr.svg">
            <p class="itemHeading textCenter">Structured preparation</p>
            <p class="paragraph">You often waste your time or randomize yourself by solving the problem from multiple sources. We focus on structured preparation which covers all the necessary topics on time.</p>
        </div>
        <div class="oneByThree">
            <img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/confirmation_2uy0.svg">
            <p class="itemHeading textCenter ">Confidently solve the unseen problem.</p>
            <p class="paragraph ">We focus on the techniques rather the problems. We teach you how you should start exploring the problem, finding trade-offs and how to get into the solution. </p>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Features-->
<a name="feature"></a>
<div class="container">
    <div class="gridBlock textCenter xxlargeGap">
        <div class="oneByOne">
                <p class="sectionHeading noMargin">Thanks for your subscription.</p>
                <p class="paragraph noMargin">Thanks for the subscription. You should be getting a email for this confirmation.</p>
        </div>
    </div>
</div>
{% endblock %}
