{% extends "layout.njk" %}
{% block home %}
{% endblock %}

{% block content %}
<!-- Features-->
<a name="feature"></a>
<div class="container">
    <div class="gridBlock textCenter gap_xxl">
        <div class="oneByOne">
                <p class="sectionHeading noMargin">Thanks for your subscription.</p>
                <p class="paragraph noMargin">Thanks for the subscription. You should be getting a email for this confirmation.</p>
        </div>
    </div>
</div>
{% endblock %}
